p{
  display: none; /* hides all the definitions inside paragraph elements*/
}

.clickablep{
  cursor: pointer;
  color: blue;
}
.clickable{
  cursor: pointer;
  color: red;

}
.clickable:hover{
  text-decoration: underline;
}
.clickable1{
  cursor: pointer;
  color: red;
}
.clickable1:hover{
  text-decoration: underline;
}

.clickable2{
  cursor: pointer;
  color: red;
}
.clickable2:hover{
  text-decoration: underline;
}

.clickable3{
  cursor: pointer;
  color: red;
}
.clickable3:hover{
  text-decoration: underline;
}

.clickable4{
  cursor: pointer;
  color: red;
}
.clickable4:hover{
  text-decoration: underline;
}

.clickable5{
  cursor: pointer;
  color: red;
}
.clickable5:hover{
  text-decoration: underline;
}

.clickable6{
  cursor: pointer;
  color: red;
}
.clickable6:hover{
  text-decoration: underline;
}

.clickable7{
  cursor: pointer;
  color: red;
}
.clickable7:hover{
  text-decoration: underline;
}

.clickable8{
  cursor: pointer;
  color: red;
}
.clickable8:hover{
  text-decoration: underline;
}

.clickable9{
  cursor: pointer;
  color: red;
}
.clickable9:hover{
  text-decoration: underline;
}

.clickable10{
  cursor: pointer;
  color: red;
}
.clickable10:hover{
  text-decoration: underline;
}

.clickable11{
  cursor: pointer;
  color: red;
}
.clickable11:hover{
  text-decoration: underline;
}
